<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Reddit2Video.Credentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Reddit2Video.Credentials>
            <setting name="RedditUsername" serializeAs="String">
                <value>RedditVideoBot321</value>
            </setting>
            <setting name="RedditPassword" serializeAs="String">
                <value>JaettuP4ssu</value>
            </setting>
            <setting name="YoutubeUsername" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="YoutubePassword" serializeAs="String">
                <value>TODO</value>
            </setting>
            <setting name="RedditClientID" serializeAs="String">
                <value>hW1GKIG_4_lSHgAb7U_lIQ</value>
            </setting>
            <setting name="RedditSecret" serializeAs="String">
                <value>rDm7CdO39fvls1lkMJhGi-OVeMrgUQ</value>
            </setting>
        </Reddit2Video.Credentials>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ffmpegRoot" value="C:\Users\Timi\source\repos\Reddit2Video\Reddit2Video\FFMPEG\bin\" />
  </appSettings>
</configuration>