<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="Reddit" version="1.5.0" targetFramework="net472" />
  <package id="Reddit.AuthTokenRetrieverLib" version="1.5.1" targetFramework="net472" />
  <package id="RestSharp" version="106.6.9" targetFramework="net472" />
  <package id="uhttpsharp.Standard" version="8.0.30703.1" targetFramework="net472" />
</packages>